button {
    font-family: $base-ff;
    padding: 4px 8px;
    outline: none;
    border: none;
    background-color: $button-bg;
    color: #fff;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 200ms $cb;
    border-radius: 5px;

    &:focus, &:active {
        outline: none;
    }

    &:hover {
        background-color: darken($button-bg, 9%);
    }

    @include box-shadow-press(8px, 0.4);
}
